
//Color Palette
$color-primary: #ef9a9a;
$color-primary-dark: #e57373;
$color-secondary: #fdead1;
$color-text-secondary: #FFCDB2;
$color-text-primary: #fae9c7;
$color-black: #000;

//Breakpoints
$bp-small: 37.5em;

//Default settings

*{
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

canvas{
  border-bottom: solid 1px #000;
}