.bg{
  background-image: linear-gradient(to right bottom, rgba(255, 80, 68, 0.4),rgba(255, 128, 130, 0.57) ),url("../img/default_bg.jpg");
  background-size: cover;
  background-position: top;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav__logo{
  margin-left: 1.8rem;
  margin-top: 1.8rem;
  font-size: 2rem;
  font-weight:900;
}
.header{
  display: flex;
  flex-direction: column;
  min-height: 10vh;

  @media only screen and (max-width: $bp-small) {
    min-height: 13vh;
  }
}
.nav{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;

  @media only screen and (max-width: $bp-small) {
    height: 13vh;
  }
}

.head{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.player{
  position: absolute;
  z-index: 110;
}


.song{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
  //min-height: 12vh;

  @media only screen and (max-width: $bp-small) {
    min-height: 10vh;
    margin-top: 2rem;
    padding-top: 3rem;
  }
}

.container{
  display: flex;
  width: 95vw;

  flex-direction: column;
  justify-content: space-around;

  align-items: center;
  min-height: 58vh;
  /*background-color: blue;*/
  text-align: center;
  position: relative;
  z-index: 10;
  padding-right: 29rem;
  padding-left: 27rem;

  //padding-top: 10rem;
  //padding-bottom: 10rem;

  @media only screen and (max-width: $bp-medium) {
    padding-right: 0;
    padding-left: 0;
    width: 98vw;
    overflow-x: hidden;
  }

  @media only screen and (max-width: $bp-small) {
    width: 98vw;
    overflow-x: hidden;
    min-height: 54vh;
  }
}

.footer{
  border-top: solid 1.2px;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-end;
  min-height: 8vh;

  &__heading{
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__link{
    &:link, &:visited{
      color: $color-secondary;
      //background-color: $color-grey-dark-3;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s;
    }

    &:hover, &:active{
      color: #ffb97e;
      box-shadow: 0 1rem 2rem rgba($color-black, .4);
    }
  }

  &__copyright{
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: -3px;
  }

}

@media only screen and (min-height: $bp-tab) {
  .container{
    min-height: 68vh;
  }

  .footer{
    min-height: 12vh;
  }

}
